::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f5f0eb;
}
::-webkit-scrollbar-thumb {
  background: #2c282540;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2c282570;
}
